.radio-knob {
    -fx-background-image: url('resources/knob.png');
    -fx-background-size: stretch;
}

.radio-window {
    -fx-background-image: url('resources/radio_window.png');
    -fx-background-size: stretch;
}

.radio-text {
    -fx-background-radius: 10px;
    -fx-font-family: "Seven Segment";
    -fx-text-fill: red;
    -fx-font-size: 50;
    -fx-background-color: black;
}

.sine {
    -fx-background-image: url('resources/sine.png');
    -fx-background-size: 50 100;
}