.camera-frame {
    -fx-background-image: url("resources/camera_frame.png");
    -fx-background-size: stretch;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: limegreen;
    -fx-font-size: 25;
}