.label {
    -fx-font-family: "Seven Segment";
    -fx-text-fill: white;
    -fx-font-size: 50;
    -fx-background-color: black;
}

.doors-pane {
    -fx-background-image: url("img/doors_window.png");
    -fx-background-size: stretch;
}

.pin-pane {
    -fx-background-color: darkslategray;
}