.grid {
    -fx-background-image: url('img/background.png');
    -fx-background-size: stretch;
}

.lights-pane {
    -fx-background-image: url('img/power.png');
    -fx-background-size: stretch;
}

.emergency-pane {
    -fx-background-image: url('img/button.png');
    -fx-background-size: stretch;
}

.audio-pane {
    -fx-background-image: url('img/radio.png');
    -fx-background-size: stretch;
}

.cameras-pane {
    -fx-background-image: url('img/cameras.png');
    -fx-background-size: stretch;
}
.chair-pane {
    -fx-background-image: url('img/chair.png');
    -fx-background-size: stretch;
}
